extends layout
block content
	#app
		<div v-if='status==1'>
		pre {{ text }}
		</div>
		<div v-else-if='status==0'>
		h6 因为比较安全 所以比较安全
		</div>
		<div v-else>
		p#warning 正在获取...
		</div>
	//- 输出用于匹配GUID的正则表达式
	script.
		reg_guid =  !{locals.reg_guid};
	script(src='/javascripts/view.js')